<%= form_with model: cook_recipe, url: recipes_path, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "料理名" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text, "説明文" %><br />
    <%= f.text_area :text, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :vegetable_1, "材料" %><br />
    <%= f.text_area :vegetable_1, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :cook_1, "作り方" %><br />
    <%= f.text_area :cook_1, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "料理の画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :video, "Youtube URL" %><br />
    <%= f.text_field :video %>
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: :form__btn  %>
  </div>
<% end %>