<%= form_with model: recipe, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "料理名" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text, "説明文" %><br />
    <%= f.text_area :text, class: :form__text %>
  </div>

  <div class="field"> 
    <%= "ジャンル" %><br />
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>

    
    
  <div class="form-group">
    <%= "材料" %><br />
    <table id='detail-association-insertion-point1'>
      <%= f.fields_for :materials do |detail| %>
        <%= render 'recipe_item_fields', f: detail %>
      <% end %>
    </table>
    <%= link_to_add_association '行を追加', f, :materials, partial: 'recipe_item_fields', class: :form__btn, data: {
        association_insertion_node: '#detail-association-insertion-point1',
        association_insertion_method: 'append' } %>
  </div>

    
    <div class="form-group">
    <table  id='detail-association-insertion-point2'>
      <%= f.fields_for :chefs do |deta| %>
        <%= render 'chef_item_fields', f: deta %>
      <% end %>
    </table>
    <%= link_to_add_association '行を追加', f, :chefs, partial: 'chef_item_fields', data: {
        association_insertion_node: '#detail-association-insertion-point2',
        association_insertion_method: 'append' } %>
  </div>
  


  <div class="field">
    <%= f.label :image, "料理の画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :video, "Youtube URL" %><br />
    <%= f.text_field :video %>
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: :form__btn  %>
  </div>
<% end %>