<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @recipe.title %>
      </p>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <div class="prototype__manage">
            <%= link_to "編集する", edit_recipe_path, class: :prototype__btn %>
            <%= link_to "削除する", recipe_path, method: :delete, class: :prototype__btn %>
          </div>
        <% end %>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @recipe.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">説明</p>
            <p class="detail__message">
              <%= @recipe.text %>
            </p>
          <p>
        </div>
      </div>
      
      <div class="tube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @recipe.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="zairyou">
          <p class="detail__title">材料</p>
            <div class="zainoryou">
              <div class="zai">
        
                <% @material.each do |material| %>
                  <div class="detail__message">
                    <%= material.vegetable %> <br />
                  </div><br />
                <% end %>
             </div>
             <div class="zai">
               <% @material.each do |material| %>
                 <div class="suuryou">
                   <%= material.amount %><br />
                 </div><br />
               <% end %>
             </div>
          </p>
        </div>
      </div>
      </div>
      
      <div class="recipe_body">
        <div class="recipe_detail">
          <p class="detail__title">作り方</p>
            <p class="detail__message">
              <div class="zai-matome">
                <% @chef.each do |chef| %>
                  <div class="aida">
                    <%= chef.cook %><br />
                  </div><br />
                <% end %>
              </div>
            </p>
          </p>
        </div>
      </div>
      <div class="container">
        <% if current_user %>
          <%= form_with(model: [@recipe, @comment], local: true) do |form| %>
            <%= form.text_area :text, placeholder: "コメントする", rows: "2", class: "come-form" %>
            <%= form.submit "SEND", class: "come-sub" %>
          <% end %>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        <% end %>
        <div class="comments">
          <div class="comment_all">
            <h4>＜コメント一覧＞</h4>
            <% if @comments %>
              <% @comments.each do |comment| %>
                <% if comment.user.admin? %>
                  <p class="comefont">
                    <strong class="adcome"><%=  comment.user.name %>：</strong>
                    <%= comment.text %>
                 </p>
                <% else %>
                  <p class="comefont">
                    <strong class="come"><%= comment.user.name %>：</strong>
                    <%= comment.text %>
                  </p>
                <% end %>
              <% end %> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
