<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @recipe.title %>
      </p>
      <% if current_user == @recipe.user %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_recipe_path, class: :prototype__btn %>
          <%= link_to "削除する", recipe_path, method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @recipe.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">説明</p>
          <p class="detail__message">
            <%= @recipe.text %>
          </p>
        </div>
      </div>
      <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @recipe.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </p>
    </div>
  </div>
</main>
